<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="LOG_DIR" value="logs" />
    <property name="LOG_PATTERN"
              value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n" />

    <!-- Appender for user creation logs -->
    <appender name="USER_CREATION"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/usercreation/user.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/usercreation/user-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <appender name="EMAIL_CREATION" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/emailcreation/email.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/emailcreation/email-%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <!-- Custom logger for user creation -->
    <logger name="usercreation" level="DEBUG" additivity="false">
        <appender-ref ref="USER_CREATION"/>
    </logger>

    <logger name="emailcreation" level="DEBUG" additivity="false">
        <appender-ref ref="EMAIL_CREATION"/>
    </logger>

    <!-- Console (optional) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>